<h1>Edit task</h1>

<%= form_with(model: @task, url: task_path(@task), method: :patch) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>

  <div class="field">
    <%= f.check_box :completed %>
    <%= f.label :completed %>
  </div>

  <div class="actions">
    <%= f.submit "Update Task" %>
  </div>
<% end %>

<%= link_to 'Back to task', task_path(@task) %>
